.Summary {
    /* box-shadow: 1px 2px 1px #ccc; */
    animation: fade-in 1s ease forwards;
    transition: all;
}

.Card_Pending {
    background:rgba(67, 116, 91, 0.6);   
    border: 0 !important;
}
.Card_Active {
    background:rgba(216, 219, 23, 0.6);   
    border: 0 !important;
}
.Card_Overdue {
    background:rgba(143, 61, 61, 0.6);    
    border: 0 !important;
}
.Settings {
    background:rgba(52, 92, 71, 0.8);   
    color: white;
    border: 0 !important;
    animation: fade-in 1s ease forwards;
    transition: all;
}

.LoanFeed :hover{
    cursor: pointer;
}
.LoanDetail {
    background-color: rgba(54, 52, 52, 0.685);
    animation: fade-in 1s ease forwards;
    transition: all;  
}

.Refresh :hover{
    cursor: pointer;
}

.Nav_links{
    height: 100%;
    letter-spacing: 2px;
    
}

.activeClass {
    border-bottom: 2px groove rgba(52, 92, 71, 0.8);
}

@media (max-width: 1024px){
    .SideNav{
        padding-right: 0 !important;
        display: none;
    }
}

@keyframes fade-in{
    0%{
      opacity: 0;  
    }
    100%{
      opacity: 1;
    }
}
@keyframes slide-in{
    0%{
      opacity: 0;  
      transform: translateY(-100px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);

    }
}