.Hamburger{
    display: none;
}
.NavLink{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

.NavLink > ul > li> a:hover{
    cursor: pointer;
}

.CurrentNavLink {
    border-bottom: 2px groove rgb(15, 80, 153);
}

.AdminNav > small{
    content:" ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    color: orange;
}

@media (max-width: 1024px){
    .NavLink {
        display: none;
    }
    .Hamburger{
        display: block;
    }

}