.Header{

     background-position: center;    
    background-size: contain;
    background-repeat: no-repeat;
    background:  url('../../assets/33092.png'); 
}

 .HeaderText {
    font-family: 'Roboto', sans-serif;
    animation: fade_in 1s ease-in;
    transition: all ease-in;
}

.Banner{
    /* width: 25%; */
    text-align: center;
    animation: slide_up ease-out .6s;
    animation-fill-mode: backwards;
    animation-delay: .4s;
    transition: 1;
}


@keyframes slide_up {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade_in {
    0%{
        
        opacity: 0;
    }
    100%{
        
        opacity: 1;
    }
}
@media (max-width: 500px){
    .Banner{
        width: 50%;
    }
}