.SideNav {
    /* background:rgba(12, 31, 21, 0.8); */
    border-right: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
}

.Summary {
    /* box-shadow: 1px 2px 1px #ccc; */
    animation: fade-in 1s ease forwards;
    transition: all;
}
.Card {
    background:rgba(52, 92, 71, 0.8);   
    border: 0 !important;
}
.Settings {
    background:rgba(52, 92, 71, 0.8);   
    color: white;
    border: 0 !important;
    animation: fade-in 1s ease forwards;
    transition: all;
}

.Refresh :hover{
    cursor: pointer;
}

.Nav_links{
    height: 100%;
    letter-spacing: 2px;
    
}

.activeClass {
    border-bottom: 2px groove rgba(52, 92, 71, 0.8);
}

@media (max-width: 1024px){
    .SideNav{
        padding-right: 0 !important;
        display: none;
    }
}

@keyframes fade-in{
    0%{
      opacity: 0;  
    }
    100%{
      opacity: 1;
    }
}