.LoginHeader{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,25,0,0.9)), url('../../assets/pexels-amina-filkins-5561174.jpg') ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
   
}

.Form{
    background-color: rgba(16, 41, 27, 0.8);
    padding: 2%;
    width: 30%;
    border-radius: 5px;
    animation: fade-in 1s ease forwards;
    transition: all;
    }

    @media (max-width: 1304px){
        .Form{
            
            width: 100%;
           
            }
    }
    
    @media (max-width: 1024px){
        .Form{
            
            width: 90%;
            border-radius: 5px;
            }
    }

    @keyframes fade-in{
        0%{
          opacity: 0;  
        }
        100%{
          opacity: 1;
        }
    }