
.Form{
    background-color: rgba(16, 41, 27, 0.8);
    padding: 2%;
    width: 30%;
    border-radius: 5px;
    animation: fade-in 1s ease forwards;
    transition: all;
    }
    @media (max-width: 1300px){
        .Form{
            
            width:60%;
            border-radius: 5px;
            }
    }
    @media (max-width: 550px){
        .Form{
            
            width: 90%;
            }
    }
    


    @keyframes fade-in{
        0%{
          opacity: 0;  
        }
        100%{
          opacity: 1;
        }
    }